.direction-and-speed-controller-appear-area {
  position: absolute;
  top: 0;
  left: 0;
  width: var(--self-width);
  height: 100dvh;
 /*background-color: hsla(0 0 10 / 10%);*/
}

.direction-and-speed-controller-zone {
  --color-bg: hsla(0 0 100 / 50%);
  position: absolute;
  top: calc(var(--y-position) - var(--self-width) / 2);
  left: calc(var(--x-position) - var(--self-height) / 2);
  width: var(--self-width);
  height: var(--self-height);
  border-radius: calc(var(--self-width) / 2);
  background-color: var(--color-bg);
  display: flex;
  justify-content: center;
  align-items: center;
  filter: drop-shadow(
    hsla(var(--angle) var(--speed) 50 / var(--shadow-alfa)) 0px 0px 16px
  );
  transition: filter 100ms linear, opacity 1s linear;
  opacity: var(--opacity, 1);
  .direction-and-speed-controller {
    --color-bg: hsla(0 0 100 / 50%);
    position: absolute;
    top: calc(var(--y-position-center, 50%) - var(--self-width) / 2);
    left: calc(var(--x-position-center, 50%) - var(--self-height) / 2);
    width: var(--self-width);
    height: var(--self-height);
    border-radius: calc(var(--self-width) / 2);
    background-color: var(--color-bg);
    transition: all 50ms linear;
  }
  @starting-style {
    opacity: 0;
  }
}
